body {
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.outerContainer {
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.innerContainer {
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px;
}

button {
    width: 25%;
    margin-bottom: 10px;
}

#image {
    width:800px;
}

#myP {
    font-size: 20px;
}
